{% extends 'workerIndex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post">
  <h1>VIEW VIDEO</h1>
  <table width="200" border="1">
    <tbody>
      <tr>
        <th scope="col">VIDEO</th>
        <th scope="col">DESCRIPTION</th>
      </tr>
      {% for i in val %}
      <tr>
        <td><video height="190" width="190" controls>
          <source src="{{i.video.url}}" type="video/mp4">
        </video>
         <a href ="{{i.video.url}}" download>download</a></td>
        <td>{{i.description}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <p>&nbsp;</p>
</form>
</body>
<!--</html>-->
{% endblock %}