<!--<!doctype html>-->
<!--<html>-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<title>WORKER_HOME</title>-->
<!--</head>-->
{% extends 'workerIndex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post">
  <h1>WORKER HOME</h1>
  <table width="200" border="1">
    <tbody>
      <tr>
        <th scope="col"><p><a href="updateWorkerProfile">UPDATE PROFILE</a></p>
          <p><a href="viewAssignWork">VIEW ASSIGNED WORKS</a></p>
          <p><a href="postCompViewRep">POST COMPLAINT AND VIEW REPLY</a></p>
          <p><a href="sendContractorFeedback">SEND FEEDBACK</a></p>
          <p><a href="/">LOGOUT</a></p></th>
      </tr>
    </tbody>
  </table>
</form>
</body>
{% endblock %}
<!--</html>-->
