<!--<!doctype html>-->
<!--<html>-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<title>CONTRACTOR_HOME</title>-->
<!--</head>-->
{% extends 'contractorIndex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post">
  <h1>CONTRACTOR HOME</h1>
  <table width="200" border="1">
    <tbody>
      <tr>
        <th scope="col"><p><a href="updateContractorProfile">UPDATE PROFILE</a></p>
        <p><a href="manageJobs">MANAGE JOB DETAILS</a></p>
        <p><a href="viewWorker">ADD WORKERS</a></p>
        <p><a href="assignWorkToWorker">ASSIGN WORK TO WORKERS</a></p>
        <p><a href="viewCustomerReqApprvl">VIEW CUSTOMER REQUEST AND APPROVAL</a></p>
        <p><a href="view_contractor_work">POST WORKS</a></p>
        <p><a href="/">LOGOUT</a></p></th>
      </tr>
    </tbody>
  </table>
</form>
</body>
{% endblock %}
<!--</html>-->
