<!--<!doctype html>-->
<!--<html>-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<title>VIEW_WORKER</title>-->
<!--</head>-->
{% extends 'contractorIndex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post">
  <h1>VIEW AND ADD WORKER</h1>
  <table width="200" border="1">
    <tbody>
      <tr>
        <th scope="col">NAME</th>
        <th scope="col">EMAIL</th>
        <th scope="col">PHONE</th>
        <th scope="col">ADDRESS</th>
        <th scope="col">EXPERIANCE</th>
        <th scope="col">GENDER</th>
        <th scope="col">AVAILABILITY</th>
      </tr>
      {% for i in val %}
      <tr>
        <td>{{i.fname}} {{i.lname}}</td>
        <td>{{i.email}}</td>
        <td>{{i.phone}}</td>
        <td>{{i.place}} {{i.post}} {{i.pin}}</td>
        <td>{{i.experience}}</td>
        <td>{{i.gender}}</td>
        <td>{{i.availability}}</td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="7"><center><a href="addWorker">ADD</a></center></td>
      </tr>
    </tbody>
  </table>
</form>
</body>
{% endblock %}
<!--</html>-->
