<!--<!doctype html>-->
<!--<html>-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<title>PostWorks</title>-->
<!--</head>-->
{% extends 'contractorIndex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post">
  <h1>VIEW CONTRACTOR WORKS</h1>
  <table width="200" border="1">
    <tbody>
      <tr>
        <th scope="col">WORK</th>
        <th scope="col">IMAGE</th>
        <th scope="col">DESCRIPTION</th>
        <th scope="col">DATE</th>
      </tr>
      {% for i in val %}
      <tr>
        <td>{{i.work}}</td>
        <td><img src="{{i.image.url}}" width="100" height="100"/>
          <a href ="{{i.image.url}}" download>download</a></td>
        <td>{{i.description}}</td>
        <td>{{i.date}}</td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="4"><center><a href="post_contractor_work">POST_WORKS</a></center></td>
      </tr>
		
    </tbody>
  </table>
  <p>&nbsp;</p>
</form>
</body>
{% endblock %}
<!--</html>-->
