<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>ADMIN_DASHBOARD</title>
</head>

<body>
<form id="form1" name="form1" method="post">
  <h1>ADMIN HOME</h1>
  <table width="200" border="1">
    <tbody>
      <tr>
        <th scope="col"><p><a href="verifyContractor">VERIFY CONTRACTOR</a></p>
        <p><a href="viewWorkerDetail">VIEW WORKER DETAILS</a></p>
        <p><a href="view_Wrkr_Comp_Sent_rep">VIEW WORKER COMPLAINT & SENT REPLY</a></p>
        <p><a href="viewWorkerRevRat">VIEW WORKER REVIEW AND RATING</a></p>
        <p><a href="viewUser">VIEW USER</a></p>
        <p><a href="viewUsrCompSentRep">VIEW CUSTOMER COMPLAINT & SENT REPLY</a></p>
        <p><a href="veiwCustomerRevRat">VIEW CUSTOMER REVIEW AND RATING</a></p>
        <p><a href="block_worker">BLOCK/UNBLOCK WORKER</a></p>
        <p><a href="block_contractors">BLOCK/UNBLOCK CONTRACTOR</a></p>
        <p><a href="manageVideo">MANAGE VIDEO</a></p>
        <p><a href="/">LOGOUT</a></p></th>
      </tr>
    </tbody>
  </table>
</form>
</body>
</html>
