<!--<!doctype html>-->
<!--<html>-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<title>MANAGE_VIDEO</title>-->
<!--</head>-->
{% extends 'adminIndex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post">
  <h1>MANAGE VIDEO</h1>
  <table width="200" border="1">
    <tbody>
      <tr>
        <th scope="col">VIDEO</th>
        <th scope="col">DESCRIPTION</th>
        <th scope="col">&nbsp;</th>
      </tr>
      {% for i in val %}
      <tr>
        <td><video height="190" width="190" controls>
          <source src="{{i.video.url}}" type="video/mp4">
        </video>
         <a href ="{{i.video.url}}" download>download</a></td>
        <td>{{i.description}}</td>
        <td><a href="#">DELETE</a></td>
      </tr>
      {% endfor %}
      <tr>
        <th colspan="4"><a href="addVideo">ADD</a>
        </th>
      </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
</form>
</body>
{% endblock %}
<!--</html>-->
