<!--<!doctype html>-->
<!--<html>-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<title>WORKER_COMP_SNT_REP</title>-->
<!--</head>-->

{% extends 'adminIndex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="viewWrkerCompSentRep">
  <h1>WORKER COMPLAINT &amp; SENT REPLY</h1>
  <table width="200" border="1">
    <tbody>
      <tr>
        <th scope="col">CONTRACTOR</th>
        <th scope="col">
          <select class="my-select" name="select" id="select">
            {% for i in val %}
            <option value="{{i.id}}" {% if s == i.id %} selected {% endif %}> {{i.fname}} {{i.lname}} </option>
            {% endfor %}
          </select>
        <th scope="col"><input type="submit" class="my-button my-button:hover" name="submit" id="submit" value="search"></th>
      </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
  <table width="200" border="1">
    <tbody>
      <tr>
        <th scope="col">WORKER NAME</th>
        <th scope="col">COMPLAINT</th>
        <th scope="col">&nbsp;</th>
    </tr>
      {% for i in val2 %}
      <tr>
        <td>{{i.wid.lname}} {{i.wid.fname}}</td>
        <td>{{i.complaint}}</td>
        <td><a href="{% url 'workerRep' id=i.id %}#about">REPLY</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</form>
</body>
{% endblock %}
<!--</html>-->
