<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>login</title>
</head>

<body>
	<form action="log" method="post">
	  <h1>LOGIN</h1>
	  <table width="200" border="1">
	    <tbody>
	      <tr>
	        <th scope="row">USERNAME</th>
	        <td>
            <input type="text" name="uname" ></td>
          </tr>
	      <tr>
	        <th scope="row">PASSWORD</th>
	        <td>
            <input type="password" name="password"></td>
          </tr>
	      <tr>
	        <th colspan="2" scope="row"><p>
	          <input type="submit" name="submit" id="submit" value="LOGIN">
	        </p>
	          <p>
				  <a href="usr_registration">register as user</a></p>
            <p><a href="cntrct_registration">register as contractor</a></p></th>
          </tr>
        </tbody>
      </table>
	</form>
</body>
</html>
