<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>WORKER_HOME</title>
</head>

<body>
<form id="form1" name="form1" method="post">
  <h1>USER HOME</h1>
  <table width="200" border="1">
    <tbody>
      <tr>
        <th scope="col"><p><a href="editUserProfile">UPDATE PROFILE</a></p>
          <p><a href="srchCntrctrSentWrkReq">SEARCH CONTRACTOR AND SENT REQUEST</a></p>
          <p><a href="viewContractorStatus">VIEW REQUEST STATUS</a></p>
          <p><a href="sentUserFeedback">SEND FEEDBACK</a></p>
          <p><a href="sntUsrCompViewReply">SENT COMPLAINT AND VIEW REPLY</a></p>
          <p><a href="/">LOGOUT</a></p>
        </th>
      </tr>
    </tbody>
  </table>
</form>
</body>
</html>
